body {
    margin-top: 65px;
}

#content {
    font-size: 1.2em;
}

.CodeMirror, .CodeMirror-scroll {
    max-height: 700px;
}

#toc {
    position: absolute;
    top: 100px
    width: 100%;
    margin: 0px 0px 20px 0px;
}

@media (min-width: 1400px) {
    .container {
        margin-left: 400px
    }
}


@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* ------------- Searching -----------*/

.page-search-result .search-match {
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 1em;
    margin: 0.5em;
}

.page-search-result .lines {
    background: #f9f9f9;
    border-radius: 3px;
}


.page-search-result td.line-number {
    vertical-align: top;
    text-align: right;
    padding-right: 1em;
    width: 40px;
}

.page-search-result td.line {
    text-align: left;
}

.page-search-result .line-match {
    background-color: #ccc;
}

.page-search-result .match {
    font-weight: bold;
    background-color: black;
    color: white;
}