body {
    margin-top: 65px;
}

#content {
    font-size: 1.2em;
}

#main-content p {
    max-width: 800px;
}

#content code {
    font-size: 14px;
    line-height: normal;
}

.CodeMirror, .CodeMirror-scroll {
    max-height: 700px;
}

#toc {
    position: absolute;
    top: 100px;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

@media (min-width: 1400px) {
    .container {
        margin-left: 400px
    }
}


@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

/* ------------- Searching -----------*/

.page-search-result .search-match {
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 1em;
    margin: 0.5em;
}

.page-search-result .lines {
    background: #f9f9f9;
    border-radius: 3px;
}


.page-search-result td.line-number {
    vertical-align: top;
    text-align: right;
    padding-right: 1em;
    width: 40px;
}

.page-search-result td.line {
    text-align: left;
}

.page-search-result .line-match {
    background-color: #ccc;
}

.page-search-result .match {
    font-weight: bold;
    background-color: black;
    color: white;
}

/* -------- Tables ------------ */

body {
    --bg: hsl(0, 0%, 100%);
    --fg: #333333;

    --sidebar-bg: #fafafa;
    --sidebar-fg: #364149;
    --sidebar-non-existant: #aaaaaa;
    --sidebar-active: #008cff;
    --sidebar-spacer: #f4f4f4;

    --scrollbar: #cccccc;

    --icons: #cccccc;
    --icons-hover: #333333;

    --links: #4183c4;

    --inline-code-color: #6e6b5e;

    --theme-popup-bg: #fafafa;
    --theme-popup-border: #cccccc;
    --theme-hover: #e6e6e6;

    --quote-bg: hsl(197, 37%, 96%);
    --quote-border: hsl(197, 37%, 91%);

    --table-border-color: hsl(0, 0%, 95%);
    --table-header-bg: hsl(0, 0%, 80%);
    --table-alternate-bg: hsl(0, 0%, 97%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #fafafa;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #888;
    --searchresults-li-bg: #e4f2fe;
    --search-mark-bg: #a2cff5;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}
table td {
    padding: 3px 20px;
    border: 1px var(--table-border-color) solid;
}
table thead {
    background: var(--table-header-bg);
}
table thead td {
    font-weight: 700;
    border: none;
}
table thead tr {
    border: 1px var(--table-header-bg) solid;
}
/* Alternate background colors for rows */
table tbody tr:nth-child(2n) {
    background: var(--table-alternate-bg);
}