# Inspired by http://patrakov.blogspot.no/2011/01/writing-systemd-service-files.html

[Unit]
Description=Simplewiki service

[Service]
PIDFile=/var/run/simplewiki.pid
ExecStart=/home/sighol/workspace/simplewiki/target/release/simplewiki -p 8080 --wiki-root ../wiki --editor subl
Restart=on-abort
WorkingDirectory=/home/sighol/workspace/simplewiki
User=sighol
