{{#*inline "content"}}
      {{#each view_groups }}
        <div class="col-md-4"><h2>{{key}}</h2>
            <ul>
                {{#each views}}
                <li><a href="/{{file_name}}">{{ name }}</a></li>
                {{/each}}
            </ul>
        </div>
    {{/each}}
{{/inline}}

{{~> layout ~}}