<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Simplewiki{% endblock title %}</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/css/prism.css">

    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.tocify.min.js"></script>
    <script src="/static/js/clipboard.min.js"></script>
    <script src="/static/js/prism.js"></script>


    <link rel="stylesheet" href="/static/css/jquery.tocify.css">

    <link rel="stylesheet" href="/static/css/layout.css">

    {% block head_extra %}
    {% endblock head_extra %}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if view_groups %}
              {% for view_group in view_groups %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="" aria-haspopup="true" aria-expanded="false">
                      {{ view_group.key}}  <span class="caret">
                  </a>
                  <ul class="dropdown-menu">
                    {% for page in view_group.views %}
                      <li><a href="/{{page.file_name}}">{{page.name}}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            {% endif %}
          </ul>

          <form action="/search" method="get" class="nav navbar-nav navbar-right" style="margin: 1em">
            <input type="text" name="pattern" value="{% if pattern %}{{ pattern }}{% endif %}" />
            <input type="submit" value="search" />
          </form>

            <ul class="nav navbar-nav navbar-right">
              <li><button style="margin: 1em" onclick="CreatePage()">Create page</button></li>
            </ul>

          {% block navbar_extra %}

          {% endblock navbar_extra %}
        </div><!--/.nav-collapse -->
      </div>
    </nav><!-- /.navbar -->

    <div class="container">

      <div class="page-header">
        <h1>{{ title }}</h1>
        {% block page_header %}

        {% endblock page_header %}
      </div>


      <div id="main-content" class="container-fluid">
        {# <div class="col-md-10"> #}
          <div class="tocify"></div>
          {% block content %}
          {% endblock content %}
        </div>
      {# </div> #}
    </div>

    <script src="/static/js/bootstrap.min.js"></script>

    <script>
      $(function () {
          $(".tocify").tocify({
              "showAndHide": false,
          });

      });

      function CreatePage() {
        var txt = window.prompt("Enter new page id");
        if (txt != null && txt != "") {
          window.location.href = "/edit/" + txt;
        }
      }

    </script>
  </body>
</html>
