{{#*inline "page_header" }}
	<h1>Search result for {{ result.pattern }}</h1>
{{/inline}}

{{#*inline "navbar_extra"}}
  <form action="/search" method="get" class="nav navbar-nav navbar-right" style="margin: 1em">
    <input type="text" name="pattern" />
    <input type="submit" value="search" />
  </form>
{{/inline}}

{{#*inline "content" }}

<div class="page-search-result">
	This is a search result

	{{#each result.matches }}
		<div class="search-match">
			<h3><a href="{{{url}}}">{{ url }}</a></h3>

			{{#each contexts}}
				<div style="margin: 1em"></div>
				<hr />
				<div class="lines">
					{{{ html }}}
				</div>
			{{/each}}
		</div>
	{{/each}}
</div>
{{/inline}}

{{~> layout ~}}