{% extends "layout.html" %}

{% block title %}
	{{ page }}
{% endblock title %}

{% block page_header %}
	<h1>{{page}}</h1>

    <p>
        <a href="/edit/{{page}}">Edit</a> |
        <a href="/edit_sublime/{{page}}">Edit in sublime</a>
    </p>
{% endblock %}

{% block content %}
    <div id="content">
	   {{ body|safe }}
    </div>
{% endblock content %}

{% block navbar_extra %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/{{ previous_url }}">&larr;</a></li>
        <li><a href="/{{ next_url }}">&rarr;</a></li>
        <li><a href="/edit/{{page}}">Edit</a></li>
    </ul>
{% endblock %}