{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock title %}

{% block page_header %}

    <h1>Home</h1>

{% endblock %}

{% block content %}
    {% for group in groups %}
        <div class="col-md-4"><h2>{{group.key|capitalize}}</h2>
            <ul>
                {% for view in group.list %}
                <li><a href="/{{view.file_name}}">{{ view.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock content %}
