<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		{# <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"> #}


		<link rel="stylesheet" href="">
		<link rel="stylesheet" href="/static/styles.css">

		<script src="/static/js/jquery-1.12.4.min.js"></script>
		<script src="/static/js/jquery-ui.min.js"></script>

		<script src="/static/js/jquery.tocify.min.js"></script>

		<link rel="stylesheet" href="/static/css/jquery.tocify.css">

		<link rel="stylesheet" href="/static/css/layout.css">

		{% block head_extra %}

		{% endblock %}

	</head>

	<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">


		  <ul class="nav navbar-nav">
		  	{% for view_group in groups %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="" aria-haspopup="true" aria-expanded="false">
						{{ view_group.key}}  <span class="caret">
					</a>
					<ul class="dropdown-menu">
						{% for view in view_group.list %}
							<li><a href="/{{view.file_name}}">{{view.name}}</a></li>
						{% endfor %}
					</ul>

				</li>
		  	{% endfor %}
		  </ul>

		  {% block navbar_extra %}{% endblock %}



        </div><!--/.nav-collapse -->
      </div>
    </nav>

		<div class="container">
			<div class="page-header">
				{% block page_header %}
				{% endblock %}
			</div>

			<div class="tocify"></div>

			<div id="main-content" class="container-fluid">
				<div class="col-md-10">



					{% block content %}
					{% endblock %}
				</div>
			</div>



		</div>

		<script src="/static/js/bootstrap.min.js"></script>

		<script>
		$(function () {
			$(".tocify").tocify({
				"showAndHide": false,
			});

            $("#main-content table").addClass("table-striped table");
		});
		</script>
	</body>
</html>
